html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

@font-face {
  font-family: myFirstFont;
  src: url("../fonts/lemon-milk-font/LemonMilkBold-gx2B3.otf");
}

@font-face {
  font-family: mySecondFont;
  src: url("../fonts/momcake/MomcakeBold.otf");
}

@font-face {
  font-family: myThirdFont;
  src: url("../fonts/lemon-milk-font/LemonMilkLight-owxMq.otf");
}

header img {
  float: left;
  position: relative;
  height: 125px;
  margin-bottom: 10px;
}

header img:hover {
  background-color: rgb(214, 185, 162);
  border-radius: 75%;
  transition: 1.5s ease;
}

h1 {
  display: none;
}

nav ul {
  list-style: none;
  margin: 0 2px;
  padding-top: 35px;
  display: flex;
  justify-content: space-around;
}

nav li {
  display: inline-block;
  padding: 5px 5px;
  font-family: myFirstFont;
  font-size: 30px;
}

nav a {
  font-weight: normal;
  padding: 10px 5px;
  font-size: 0.8em;
  text-decoration: none;
  color: black;
}

a:hover {
  color: rgb(214, 185, 162);
  transition: 0.2s ease;
}

.hamburger {
  display: none;
}

@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 0;
    flex-direction: column;
    background-color: #fff;
    width: 75vw;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    z-index: 9999;
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    float: right;
    cursor: pointer;
    margin-top: 2.5rem;
    margin-right: 1rem;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(11px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-11px) rotate(-45deg);
  }
}

.bar {
  display: block;
  width: 40px;
  height: 6px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
  border-radius: 10px;
}


main {
  max-width: 1920px;
  margin: auto;
}

.gallery img {
  width: 100%;
  height: auto;
}

.responsive {
  padding: 5px 5px;
  float: left;
  width: 33.33%;
  position: relative;
}

@media only screen and (max-width: 1000px) {
  .responsive {
    width: 49.99999%;
  }
}

@media only screen and (max-width: 600px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgba(214, 185, 162, 0.8);
}

.no-overlay {
  display: none;
}

.gallery:hover .overlay,
.gallery:active .overlay {
  opacity: 1;
}

.description {
  color: white;
  font-size: 30px;
  font-family: mySecondFont;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}



.aboutme {
  display: flex;
  width: 100%;
  position: relative;
}

.bridge {
  display: flex;
  background-image: url(../images/crumblingwall.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  width: 100%;
  height: 775px;
}

.about {
  width: 33%;
  background-color: rgb(214, 185, 162);
  padding: 100px 30px 30px 30px;
  height: auto;
  margin-left: 10px;
}

.about h2 {
  text-align: center;
  font-family: myThirdFont;
  color: white;
  font-size: 40px;
}

.about p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: white;
  font-size: 30px;
}

@media screen and (max-width: 1200px) {
  .aboutme {
    display: inline-block;
  }

  .about {
    padding: 10px;
    width: 100%;
    height: 250px;
    margin-left: 0;
    margin-top: 10px;
  }

  .about h2 {
    font-size: 30px;
  }

  .about p {
    font-size: 20px;
  }
  .bridge {
    display: flex;
    background-image: url(../images/crumblingwall.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;
  }
}

@media screen and (max-width: 1000px) {
  .about p {
    font-size: 16px;
  }
}

.quokka {
  position: relative;
  background-image: url(../images/quokka-desktopfinal.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  width: 100%;
  height: 775px;
}

.fullName {
  font-family: mySecondFont;
  position: absolute;
  font-size: 5vw;
  bottom: 0;
  left: 0;
  color: white;
  margin-left: 10px;
}

@media screen and (max-width: 1020px) {
  .fullName {
    font-size: 40px;
  }
}

.nameInput {
  float: left;
  width: 100%;
  height: 60px;
  border-width: 2px;
  border-radius: 10px;
  padding-left: 15px;
  border-color: white;
  border-style: solid;
  font-family: "Times New Roman", Times, serif;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
  margin-right: 10%;
  margin-bottom: 15px;
  font-size: 18px;
  color: white;
}

.emailInput {
  float: left;
  width: 100%;
  height: 60px;
  border-width: 2px;
  border-radius: 10px;
  padding-left: 15px;
  border-color: white;
  border-style: solid;
  font-family: "Times New Roman", Times, serif;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
  margin-right: 10%;
  margin-bottom: 15px;
  font-size: 18px;
  color: white;
}

.questionInput {
  width: 100%;
  height: 120px;
  border-width: 2px;
  border-radius: 10px;
  padding-top: 15px;
  padding-left: 15px;
  border-color: white;
  border-style: solid;
  font-family: "Times New Roman", Times, serif;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
  font-size: 18px;
  color: white;
  margin-bottom: 15px;
}

.questionInput textarea {
  vertical-align: top;
}

::placeholder {
  color: white;
}

::-webkit-input-placeholder {
  /* Edge */
  color: rgb(214, 214, 214);
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgb(214, 214, 214);
}

::placeholder {
  color: rgb(214, 214, 214);
}


.inputButton {
  border-color: white;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
  color: white;
  font-family: "Times New Roman", Times, serif;
  width: 90px;
  height: 40px;
  font-size: 18px;
}

.contact input:hover {
  background-color: white;
  border-color: black;
  color: black;
}

.contactPage {
  margin: auto;
}

.contactContainer {
  display: flex;
  background-image: url(../images/backalley-full.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 60% 50%;
  width: 100%;
  height: 775px;
}

.contact {
  font-size: 30px;
  width: 400px;
  position: relative;
  margin-top: 5%;
  z-index: 1;
  margin: auto;
}



@media screen and (max-width: 475px) {
  .contact {
    width: 90%;
  }
  .overlay {
    display: none;
  }

  .no-overlay {
    display: block;
    background-color: rgb(214, 185, 162);
    color: white;
    font-family: mySecondFont;
    text-align: center;
    margin-top: 1px;
    padding: 3px;
  }
  .quokka {
    height: 525px;
  }
  
  .contactContainer {
    height: 525px;
  }
}

.contact h2 {
  text-align: center;
  font-family: myThirdFont;
  color: white;
}

main {
  clear: both;
}

footer {
  clear: both;
  bottom:0;
  width: 100%;
  height: 150px;
  background-color: rgb(78, 147, 138);
  margin-top: -6px;
}

footer ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

footer li {
  display: inline-block;
  padding: 25px 30px 25px 0;
}

.facebook:hover {
  border-radius: 75px;
  background-color: rgb(24, 119, 242);
}

.instagram:hover {
  background-image: url(../images/gradient.png);
  background-size: cover;
  border-radius: 25px;
}